body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }

  .container {
    padding: 40px;
  }

  .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .card-header {
    background-color: #cfbaa2;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    padding: 15px;
  }

  .form-label {
    font-weight: bold;
  }

  .modal-footer button {
    background-color: #c6a686;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }

  .modal-footer button:hover {
    background-color: #8e735d;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
  }

  .btn-save {
    background-color: #c6a686;
    color: white;
  }

  .btn-save:hover {
    background-color: #8e735d;
  }

  .btn-cancel {
    background-color: #ccc;
    color: black;
  }

  .btn-cancel:hover {
    background-color: #aaa;
  }